<!--menu-->
{% assign menu = include.content.menus.header %}
<p class="navigation-title">Menu</p>
{% if menu %}
{% include menus.html %}
{% endif %}

<!--facebook like-->
{% if include.content.facebook_url %}
    <p class="navigation-title">Facebook</p>
    <iframe src="//www.facebook.com/plugins/likebox.php?href={{ include.content.facebook_url }}&amp;width=260&amp;height=240&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" 
        scrolling="no" 
        frameborder="0" 
        style="height:240px;" 
        allowtransparency="true">
    </iframe>
{% endif %}

<!--discord channel-->
{% if include.content.discord_id %}
    <p class="navigation-title">Discord</p>
    <iframe src="https://discordapp.com/widget?id={{ include.content.discord_id }}&amp;theme=dark" 
    width="260" 
    height="320" 
    frameborder="0">
    </iframe>
{% endif %}